/* begin:	color definitions */
/* end:		color definitions */

/* begin:	HTML5 elements first */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #6c757d;
}
h1 {font-size:1.0rem;}
strong{font-size:0.8rem;}
p {margin: 0; padding:0;}
legend {
	font-size: 0.75rem;
}
.btn {
	margin: 0;
	padding: 0.5rem;
	font-size: 0.75rem;
	line-height: 0.5rem;	
	text-transform: capitalize!important;					
	&.btn-default {	}
	&.btn-warning {	}
}
button {
	&.close {
		outline: none;
	}

}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
    outline: none;
}

fieldset {
}

textarea {
	width: 100%;
	height: 36px;
    outline: none;
    border: none;
    line-height: 1.5rem;
	border: 1px dotted silver;
	font-size: 1.0rem;
	color: #495057;
	line-height: 2.0rem;    
}

details {
	position: relative;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	z-index: 99;
	summary {
		outline: none;
    	margin: 0 0 1.0rem 0;
	}
}


main {
	margin:3.0rem 0;
	padding:0;
	font-size: 0.75rem;

	section {
		margin:0;
		padding:0;
		&#appOverview {
			background: mintCream;
			margin-bottom: 1.0rem;
			padding-bottom: 1.0rem;
			#logo {
				background: url('../images/logo-32x32.png');
				width: 64px;
				height: 64px;
				background-repeat: no-repeat;
			}
			details {
				display:inline-block!important;
			}
			ul {
				list-style-type: none;				
				li:before {
					list-style-type: none;
    				content: "\2610"; /* Insert content that looks like empty square*/
    				padding-right: 15px;
				}
			}
		}	

		&#outputList {
			#headerRow {
				border-bottom: 2px solid #d6d6d6;
				.fieldName {
					font-weight:bold;
					color: #004085;
					text-transform: capitalize;
					text-align: center;				
				}
			}
			#defaultData {
				color: darkBlue; font-weight: bold;padding: 1.0rem;
				/*background: url('../images/gd-button.png') no-repeat; */
				background-position: 3.0rem 0;
				background-size: contain;
				button#addNewVstiBtn {
					float: right;
				}
			}
			#vstiInsertTemplate {
				display: none;
			}
			.dataRow {				
				border-bottom: 1px solid #d6d6d6;	
				padding: 0.35rem 0;			
				.fieldData {
    				padding: 0.25rem 0;
					details {
						position: absolute;
					    padding: 0;
					    margin: 0;						
						background: #d6d6d6;
						color: #000;
						border-radius: 10px;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
						summary {
							outline: none;
							background: #fff;
							color: #6c757d;
							margin: 0;
						}
						span {
							display: inline-block;
							margin: 0.5rem 0.35rem;
						}
					}    				
					.renameThis {
						line-height: 1.0!important;				
					}		
				}
				.row.insertNewItem {
					background: mintCream;
				}
			}
		}
	}
}
/* Begin: Rating Styling */
	.rating {
	    overflow: hidden;
	    display: inline-block;
	}

	.rating-input {
	    float: right;
	    width: 16px;
	    height: 16px;
	    padding: 0;
	    margin: 0 0 0 -14px;
	    opacity: 0;
	}

	label.rating-star {
	    position: relative;
	    float: right;
	    display: block;
	    width: 16px;
	    height: 16px;
	    background: url('../images/star.png') 0 -16px;
	    margin-bottom: 0!important;
	}

	.rating-star:hover,
	.rating-star:hover ~ .rating-star, 
	.rating-input:checked ~ .rating-star {
	    background-position: 0 0;
	}


/* End: Rating Styling */
footer {
	margin: 1.5rem 0;
	border-top: none;
}

section#VSTiInsertModal {

	form {
	    border: 1px solid #d6d6d6;
	    border-radius: 10px;
	    padding: 1.0rem 0;
	    background: lavender;
	    .dataRow {
	    	margin-bottom: 1.0rem;
	    }		
		input {
			padding: 0.35rem;
			margin-right: 10px;
		}
	}
}



/* */


#stuff {
  
}

/* begin:	media query breakpoint styling. This uses a mobile first approach, 
			where the elements inhert whatever is supplied above, and only breakpoint overrides are styled .  
*/

.content {
  // Properties for smaller screens.
  // Nothing is required here because we can use the default styles

  // Properties for larger screens
  @media (min-width: 800px) {
    float: left;
    width: 60%;
  }
}
/* begin:	media query breakpoint styling */

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }